.App {
  text-align: center;
}
.Mic {
  max-width: 100%;
  width: 100%;
  /*margin: auto 20px;*/
}
.Button {
  width: 96px !important;
  height: 96px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.Help {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
}
.Prev {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 64px;
}
.Next {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 64px;
}
video::cue {
  background: #00BCD4;
  color: white;
  font-size: 2.5em;
}
video::-webkit-media-controls-panel {
  color: #00BCD4;
}
video::-webkit-media-controls-play-button {
  color: #00BCD4;
}
video::-webkit-media-controls-timeline {
  background: #00BCD4;
}
video::-webkit-media-controls-volume-slider {
  color: #00BCD4;
  background: #00BCD4;

}
video::-internal-media-controls-download-button {
  background: #00BCD4;
}
